{% extends 'FNCAccountBundle::base.html.twig' %}

{% block content -%}
{{ parent() }}

<div class="row">
    <div class="col-md-12">
    {{ form(edit_form) }}
    {{ form(delete_form) }}
    </div>
</div>
{% endblock %}
